.center{
  text-align: center;
}
.title{
  color:#FF7C7C;
}

.total-title{
  margin-top: 3%;
}

.btn{
  font-size: 2rem;
  margin-top: 5%;
}
.red{
  background-color: #FF7C7C;
}

.orange{
  background-color: #FD8C04;
}

.blue{
  background-color: #A7C5EB;
}
.big-num{
  text-align: center;
  margin : 0 50px 7% 50px;
  padding : 10px 0 10px 0;
  border-radius: 3%;
}
.full{
  width: 100%;
}

.today-total{
  margin-top: 5%;
}

.totals{
  margin-top: 12%;
}
.total-num{
  margin-bottom: 3%;
}


.column{
  color: #293B5F;
  padding : 5px 10px 5px 5px;
}

.column-title{
  color: black;
  background-color: #E9ECEF;
  font-weight: 400;
  padding-top: 1%;
  padding-bottom: 1%;

}
.table-font{
  font-family:"Helvetica Neue";
}
.section-title{
  margin-top: 1%;
}
.bold{
  font-weight: bolder;
}

.small{
  font-size: 1rem;
}

.data{
  padding-right: 30px;
  padding-left: 30px;
}

.gray{
  background-color: #E9ECEF;
}

.province{
  width: 100%;
}

/*chart*/

.chart-graph{
  margin : 0 auto;
}
.graph-title{
  margin-left: 20%;
}


.footer{
  background-color: #334257;
  color: white;
  padding-top: 50px;
  padding-bottom: 40px;
}
